@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
/* 
font-family: "Albert Sans", sans-serif;
font-family: "Pixelify Sans", sans-serif;
font-family: "ABeeZee", sans-serif; 
    font-family: 'Pixel-font', sans-serif;
*/

@font-face {
    font-family: 'Pixel-font';
    src: url('../fonts/PIXY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

canvas{
    /* display: none; */
    width: 100vw;
    height: 100vh;
}

#brightness {
    max-width: calc(100% - 35px);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    filter: brightness(60%);
}

.background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.page {
    display: none;
    height: 100vh;
    max-width: 1300px;
    margin: auto;
    z-index: 2;
}



/* MONOLOG */

#monolog_1 {
    display: flex;
    width: 370px;
    height: 282px;
    padding: 20px;
    padding-right: 35px;
}

#monolog_2 {
    /* display: flex; */
    width: 383px;
    height: 297px;
    padding: 17px;
    padding-right: 40px;
}

#monolog_3 {
    /* display: flex; */
    width: 594px;
    height: 459px;
    padding: 22px;
    padding-right: 48px;
}

#monolog_4 {
    /* display: flex; */
    width: 433px;
    height: 330px;
    padding: 22px;
    padding-right: 40px;
}

#monolog_5 {
    /* display: flex; */
    width: 571px;
    height: 440px;
    padding: 27px;
    padding-right: 54px;
}

#monolog_6 {
    /* display: flex; */
    width: 505px;
    height: 386px;
    padding: 23px;
    padding-right: 48px;
}

.monolog-item {
    z-index: 3;
    position: absolute;
    align-items: center;
    text-align: center;
    bottom: 25%;
    right: 40%;
    background-image: url("../img2/tablick/monolog_cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #272727;
    font-size: 45px;
}

#elder_angry,
#elder_smile {
    right: 35px;
}

#victory,
.monolog-item,
#header,
#elder_angry {
    display: none;
}

/* HEADER */

#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    z-index: 2;
    padding-right: 2%;
}

.nav-list {
    display: flex;
    gap: 8px;
    width: 185px;
    height: 104px;
}

.nav-list_image {
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-list_image:hover {
    margin-top: -5px;
}


.cristal {
    display: flex;
    gap: 15px;
    align-items: center;

}

.cristal-image {
    width: 50px;
    height: 86px;
}

.cristal_count {
    font-size: 70px;
    font-family: "Pixelify Sans", sans-serif;
    color: #272727;
}




/* MENU */

.menu {
    display: none;
    /* display: block; */
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.loose_text {
    color: #ff3232;
    text-align: center;
    font-family: 'Pixel-font', sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    width: 280px;
    height: 84px;
    background-image: url("../img2/tablick/menu_button.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    color: #1E1E1E;
    text-align: center;
    font-family: 'Pixel-font', sans-serif;
    font-size: 40px;
    transition: transform 0.1s ease;
}

.button:active {
    transform: scale(0.95);
}




/* VICTORY */


.victory {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1E1E1E;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
    background-image: url("../img2/tablick/victory_tablick.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 632px;
    height: 563px;
    border-radius: 12px;
    z-index: 3;
}

.victory-lent {
    background-image: url("../img2/tablick/lent_victory.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 388px;
    height: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFC95E;
}

.prize-village {
    background-image: url("../img2/world_elemets/vilage1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 27vh;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lock-on {
    width: 8vh;
    height: 8vh;
}

.prize-posit {
    position: absolute;
    bottom: -3.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("../img2/tablick/name_tree.png");
    background-size: cover;
    width: 170px;
    height: 77px;
    font-size: 20px;
}

.prize {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    padding-bottom: 80px;
    border-radius: 12px;
    background: rgba(30, 30, 30, 0.7);
}

.cristal-tablet {
    background-image: url("../img2/tablick/nav_tree.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 129px;
    padding-right: 25px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 60px;
}



/* LESSON-WORD */

.lesson-words {
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-bottom: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Pixel-font', sans-serif;
    font-size: 25px;
    max-width: 1170px;
    border-radius: 12px;
    z-index: 3;
    background: rgba(30, 30, 30, 0.9);
    display: none;
}

/* #words_4 {
    display: flex;
    
} */

.lesson-words_item {
    display: flex;
    flex-wrap: nowrap;
}

.words_item {
    padding: 10px;
    border: solid 1px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}



/* LESSON */

/* #lesson_4 {
    display: flex;
} */

.lesson {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Pixel-font', sans-serif;
    font-size: 25px;
    max-width: 1170px;
    border-radius: 12px;
    z-index: 3;
    background: rgba(30, 30, 30, 0.96);
    height: 80vh; /* Высота */
    overflow: auto; /* Включает скролл */
    display: none;
}


.lesson::-webkit-scrollbar {
    background-color:  rgba(193, 193, 193, 0.96);
}
/* Стилизация скроллбара */
.lesson::-webkit-scrollbar {
    width: 10px;
}

.lesson::-webkit-scrollbar-track {
    background: #222; /* Тёмный фон */
}

.lesson::-webkit-scrollbar-thumb {
    background: #555; /* Цвет ползунка */
    border-radius: 5px;
}

.lesson::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.lesson-title {
    font-size: 28px;
}

.use-for {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    margin-top: 30px;
    margin-bottom: 60px;

}

/* .use-for-item {
    display: flex;
    flex-wrap: nowrap;
    
} */

.formula-verb {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);
    margin-top: 30px;
    margin-bottom: 60px;
}

.formula-verb_2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    margin-top: 30px;
    margin-bottom: 60px;
}

.formula-verb_3 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 30px;
    margin-bottom: 60px;
}

.gridbox_1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.gridbox_2 {
    grid-row: 5/7;
}

.gridbox_4 {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
}

.gridbox_5 {
    grid-row: 1 / 3;
    grid-column: 5 / 7;
    
}


.green {
    color: #13E413;
}

.orange {
    color: #E9B54D;
}

.red {
    color: #E94D4F;
}

.yellow {
    color: #ebed52;
}

.lesson-image {
    margin-top: 60px;
    margin-bottom: 30px;
}

#elder_inverse {
    z-index: 3;
    position: absolute;
    width: 400px;
    bottom: -20px;
    left: -20px;
}

#monolog_lesson{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 110px;
    left: 300px;
    background-image: url("../img2/tablick/monolog_cloud_inverse.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 290px;
    height: 222px;
    padding: 30px;
    padding-left: 47px;
    color: #272727;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

.lesson-monolog {
    position: relative;
    width: 100%;
    min-height: 400px;
}


/* KATANA */

#katana {
    display: block;
    font-family: 'Pixel-font', sans-serif;
    font-size: 21px;
    color: #1E1E1E;
}

.present {
    position: absolute;
    cursor: pointer;
    text-align: center;
}

.array {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    transition: transform 0.1s ease;
}

.array:active {
    transform: scale(0.98);
}

.simple {
    top: 24%;
    left: 7%;
}

.present-simple {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img2/world_elemets/vilage1.png");
    width: 16vw;
    height: 13vw;

}

.perfect {
    top: 56%;
    left: 22%;

}

.present-perfect {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img2/world_elemets/vilage2.png");
    width: 15vw;
    height: 14vw;
}

.continuous {
    top: 22%;
    left: 38%;
}

.present-continuous {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img2/world_elemets/vilage3.png");
    width: 14.5vw;
    height: 13vw;
}

.perfect-continuous {
    top: 56%;
    left: 49%;
}

.present-perfect-continuous {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img2/world_elemets/vilage4.png");
    width: 14vw;
    height: 14vw;
}

.final {
    top: 30%;
    left: 74%;
}

.final_array {
    background: linear-gradient(rgba(139, 0, 0, 0.5), rgba(139, 0, 0, 0.5)), url("../img2/world_elemets/boss_array.png");
    width: 15vw;
    height: 13vw;
}

.final_tablet {
    position: absolute;
    top: 80%;
    border-radius: 0;
    background-image: url("../img2/tablick/name_tree_boss.png");
    font-size: 45px;
    width: 14.7vw;
    height: 4vw;
    padding-bottom: 0.07vw;
}

.tablet {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("../img2/tablick/name_tree.png");
    background-size: cover;
    width: 12.7vw;
    height: 6.2vw;
}

.perfect-continuous-tablet {
    width: 15vw;
    height: 7.5vw;
}

.left-posit {
    top: 70%;
    left: -20%;
}

.right-posit {
    top: 70%;
    right: -60%;
}



.lock {
    width: 3.3vw;
    height: 4.5vw;
}




/* PROFIL */

/* #profil {
    display: block;
} */

.profil {
    display: flex;
    gap: 72px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 369px;
    height: 489px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.avatar-image {
    width: 294px;
    height: 478px;
}

.profil-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 55px;
    width: 534px;
    height: 365px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.nickname {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nickname-place {
    width: 83%;
    height: 67px;
    border: solid 3px #1E1E1E;
    background-color: #fff;
    font-family: 'Pixel-font', sans-serif;
    text-align: center;
    font-size: 35px;
}


.nickname-place::placeholder {
    color: #1d1d1d;
}

.nickname-confirm {
    background-image: url("../img2/tablick/confirm.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 67px;
    height: 67px;
    transition: transform 0.1s ease;
}

.nickname-confirm:active {
    transform: scale(0.95);
}

.avatar-choise {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.avatar-choise_item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: #fff;
    transition: transform 0.1s ease;
}

.avatar-choise_item:active {
    transform: scale(0.95);
}

#avatar_white {
    border: solid 3px #1E1E1E;
}

.avatar-choise_image {
    width: 103px;
    height: 160px;
}




/* FIRE */

#fire {
    /* display: flex; */
    align-items: center;
    padding-top: 50px;
    padding-right: 20%;
}

.fire-monolog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fire-cloud {
    background-image: url("../img2/tablick/monolog_cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    width: 508px;
    height: 389px;
    display: flex;
    align-items: center;
    padding-left: 23px;
    padding-right: 37px;
    font-size: 55px;
    text-align: center;
    color: #272727;
}

.fire-elder {
    z-index: 3;
    position: absolute;
    width: 44%;
    right: 0;
    bottom: 0px;
}




/* FIRE-GAME */

#fire-game {
    /* display: block; */
    text-align: center;
    font-family: 'Pixel-font', sans-serif;
    color: #272727;
    font-size: 28px;
}

.fire-game_header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    z-index: 2;
    padding-right: 2%;
    display: none;
}

.menu-icon {
    cursor: pointer;
    width: 47px;
    height: 41px;
    transition: transform 0.1s ease;
}

.menu-icon:active {
    transform: scale(0.95);
}

.score {
    display: flex;
    gap: 10px;
    font-size: 40px;
    color: #333333;
    font-family: "Pixelify Sans", sans-serif;
}

.test {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: auto;
}

.ru {
    background-image: url("../img2/tablick/words_red.png");
    background-size: cover;
}

.us {
    background-image: url("../img2/tablick/words_blue.png");
}

.test-list_item {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    width: 225px;
    height: 113px;
    cursor: pointer;
    text-align: center;
}


/* .next {
} */

.next-image {
    width: 109px;
    height: 84px;
    cursor: pointer;
    transition: transform 0.1s ease;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.next-image:active {
    transform: scale(0.95);
}




/* FOOTER */

footer {
    position: absolute;
    right: 0;
    width: 100vh;
    height: 35px;
    background-color: #306423;
    align-items: center;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    transform-origin: right top;
    transform: rotate(90deg) translateX(0);
}

.footer_text {
    cursor: pointer;
    font-family: "Albert Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    transition: transform 0.1s ease;
}

.footer_text:active {
    transform: scale(0.95);
}
